.el-table {
  &__header {
    th {
      background-color: #fafafa; //表头颜色
    }
	}
	&__fixed-right {
		height: 100%!important;
	}
}

// 按钮 font-awesome图标
.el-button [class*=fa]+span {
    margin-left: 5px;
}

// 表单日期宽度
.el-form {
  .el-date-editor {
    &.el-input {
      width: 100%;
    }
  }
}

// 弹窗
.el-dialog {
	border-radius: 8px;

	.el-dialog__header {
		border-bottom: 1px solid #eee;
		padding: 10px 20px;
		.el-dialog__headerbtn {
			top: 8px;
			right: 14px;
			font-size: 24px;
		}
	}

	.el-dialog__body {
		padding: 10px 20px;
		.el-form--label-top {
			.el-form-item__label {
				padding: 0 0 4px 0;
				line-height: 24px;
			}
		}
	}

	.el-dialog__footer {
		border-top: 1px solid #eee;
		padding: 10px 20px;
	}
}

.el-message-box {
	border-radius: 8px;

	.el-message-box__header {
		.el-message-box__headerbtn {
			top: 8px;
			right: 14px;
			font-size: 24px;
		}
	}
}

// 自定义下拉选择样式
.custom-select {
  &-name {
    float: left;
  }
  &-code {
    float: right;
    color: #8492a6;
		font-size: 12px;
		padding-left: 8px;
  }
}